<div class="rustins box hidden">
    <ul>
<span class="ex-vat">£11.50 Ex. VAT. Per Order</span> <span
                class="inc-vat">£13.80 Inc. VAT. Per Order</span>
    </ul>
</div>

<div class="paulmann box hidden">
    <ul>
<span class="ex-vat">Free Delivery</span> <span
                class="inc-vat">Free Delivery</span>
    </ul>
</div>

<div class="bayswater box hidden">
    <ul>

      <li><span class="ex-vat">Small - £12.50 Ex. VAT. Per Order</span> <span
                class="inc-vat">Small - £15 Inc. VAT. Per Order</span></li>
      <li><span class="ex-vat">Medium - £45 Ex. VAT. Per Order</span> <span
                class="inc-vat">Medium - £54 Inc. VAT. Per Order</span></li>
      <li><span class="ex-vat">Large - £100 Ex. VAT. Per Order</span> <span
                class="inc-vat">Large - £120 Inc. VAT. Per Order</span></li>
    </ul>
</div>

<div class="rakceramics box hidden">
  <b>Rak Ceramics Tiles</b><br>
  <ul>
        <li><span class="ex-vat">Standard Tiles (up to 1200mm x 1200mm) =  £55 Ex. VAT.</span> <span class="inc-vat">Standard Tiles (up to 1200mm x 1200mm) = £66 Inc. VAT.</span> per order</li>
        <li><span class="ex-vat">Large Tiles (above 1200mm x 1200mm) = £175 Ex. VAT.</span> <span class="inc-vat">Large Tiles (above 1200mm x 1200mm) = £210 Inc. VAT.</span> per order</li>
<br>
<li>Samples = Free Delivery</li>
    </ul>

<br>
<b>Bathroom Products</b>
<li><span class="ex-vat">Small - £12.50 Ex. VAT. Per Order</span><span class="inc-vat">Small - £15 Inc. VAT. Per Order</span></li>
<li><span class="ex-vat">Medium - £45 Ex. VAT. Per Order</span><span class="inc-vat">Medium - £54 Inc. VAT. Per Order</span></li>
<li><span class="ex-vat">Large - £100 Ex. VAT. Per Order</span><span class="inc-vat">Large - £120 Inc. VAT. Per Order</span></li>
</div>

<div class="penosil box hidden">
    <ul>
       <li><span class="ex-vat">Orders under £130 Ex. VAT. = £12.50 Ex. VAT.<br>Free delivery on orders over £130 Ex. VAT.</span> 
         <span class="inc-vat">Orders under £156 Inc. VAT. = £15 Inc. VAT.<br>Free delivery on orders over £156 Inc. VAT.</span></li>
    </ul>
</div>



<div class="ronseal box hidden">
    <ul>
        <li><span class="ex-vat">£11.50 Ex. VAT. Per Order</span> 
        <span class="inc-vat">£13.80 Inc. VAT. Per Order</span></li>
    </ul>
</div>

<div class="rino box hidden">
    <ul>
        <li><span class="ex-vat">£65 Ex. VAT.</span> <span class="inc-vat">£78 Inc. VAT.</span> Per Order</li>
    </ul>
</div>

<div class="adaptavate box hidden">
    <ul>
        <li>1-4 Bags = <span class="ex-vat">£9.50 Ex. VAT.</span> <span class="inc-vat">£11.40 Inc. VAT.</span> Per
            Bag<br>5+ Bags = <span class="ex-vat">£55 Ex. VAT.</span> <span class="inc-vat">£66 Inc. VAT.</span>
        </li>
        <br>
        <li>1 Pallet = <span class="ex-vat">£38 Ex. VAT.</span> <span class="inc-vat">£45.60 Inc. VAT.</span><br>Each
            Additional Pallet Incurs A <span class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc.
                VAT.</span> Charge</li>
    </ul>
</div>

<div class="smig box hidden">
    <ul>
        <li><span class="ex-vat">£7.50 Ex. VAT. Per Tub</span> <span class="inc-vat">£9 Inc. VAT. Per Tub</span></li>
    </ul>
</div>

<div class="spectrum box hidden">
    <ul>
        <li><span class="ex-vat">£25 Ex. VAT. Per Order</span> <span class="inc-vat">£30 Inc. VAT. Per Order</span></li>
    </ul>
</div>

<div class="ddecks box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£260 Ex. VAT.</span> <span class="inc-vat">£312 Inc. VAT.</span> = <span
                class="ex-vat">£24.50 Ex. VAT.</span> <span class="inc-vat">£29.40 Inc. VAT.</span> per order</li>
        <li>Free Delivery on orders Over <span class="ex-vat">£260 Ex. VAT.</span> <span class="inc-vat">£312 Inc.
                VAT.</span></li>
    </ul>
</div>

<div class="genesis box hidden">
    <ul>
        <li><span class="ex-vat">£12.50 Ex. VAT.</span> <span class="inc-vat">£15 Inc. VAT.</span> Per Order</li>
    </ul>
</div>

<div class="marshalltown box hidden">
    <ul>
        <li><span class="ex-vat">£15 Ex. VAT.</span> <span class="inc-vat">£18 Inc. VAT.</span> Per Order</li>
    </ul>
</div>

<div class="mexco box hidden">
    <ul>
        <li><span class="ex-vat">£15 Ex. VAT.</span> <span class="inc-vat">£18 Inc. VAT.</span> Per Order</li>
    </ul>
</div>


<div class="schlutersystems box hidden">
    <ul>
        <li><span class="ex-vat">£15 Ex. VAT.</span> <span class="inc-vat">£18 Inc. VAT.</span> Per Order</li>
    </ul>
</div>

<div class="tileasy box hidden">
    <ul>
        <li><span class="ex-vat">£12.50 Ex. VAT.</span> <span class="inc-vat">£15 Inc. VAT.</span> Per Order</li>
    </ul>
</div>

<div class="sisu box hidden">
    <ul>
        <li><span class="ex-vat">£93.75 Ex. VAT.</span> <span class="inc-vat">£112.50 Inc. VAT.</span> Per Order</li>
    </ul>
</div>

<div class="envirobuild box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£500 Ex. VAT.</span> <span class="inc-vat">£600 Inc. VAT.</span> = <span
                class="ex-vat">£187.50 Ex. VAT.</span> <span class="inc-vat">£225 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£500 Ex. VAT.</span> <span class="inc-vat">£600 Inc.
                VAT.</span></li>
        <br />
        Accessories
        <br />
        <span class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> Per Order
    </ul>
</div>

<div class="cembloc box hidden">
    <ul>
        <li><span class="ex-vat">£70 Ex. VAT.</span> Up To 1 Pallet</li>
        <li><span class="ex-vat">£125 Ex. VAT.</span> Over 1 Pallet</li>
    </ul>
</div>

<div class="kraus box hidden">
    <ul>
        <li>Free Delivery</li>
    </ul>
</div>

<div class="britishgypsum box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£175 Ex. VAT.</span> <span class="inc-vat">£210 Inc. VAT.</span> = <span
                class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span></li>
        <li>Orders <span class="ex-vat">£175 - £300 Ex. VAT.</span> <span class="inc-vat">£210 - £360 Inc. VAT.</span> =
            <span class="ex-vat">£50 Ex. VAT.</span> <span class="inc-vat">£60 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£300 Ex. VAT.</span> <span class="inc-vat">£360 Inc.
                VAT.</span></li>
        <br />
        Half Loads = Free Delivery
    </ul>
</div>

<div class="euroform box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£175 Ex. VAT.</span> <span class="inc-vat">£210 Inc. VAT.</span> = <span
                class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span></li>
        <li>Orders <span class="ex-vat">£175 - £300 Ex. VAT.</span> <span class="inc-vat">£210 - £360 Inc. VAT.</span> =
            <span class="ex-vat">£50 Ex. VAT.</span> <span class="inc-vat">£60 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£300 Ex. VAT.</span> <span class="inc-vat">£360 Inc.
                VAT.</span></li>
    </ul>
</div>

<div class="fermacell box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£175 Ex. VAT.</span> <span class="inc-vat">£210 Inc. VAT.</span> = <span
                class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span></li>
        <li>Orders <span class="ex-vat">£175 - £300 Ex. VAT.</span> <span class="inc-vat">£210 - £360 Inc. VAT.</span> =
            <span class="ex-vat">£50 Ex. VAT.</span> <span class="inc-vat">£60 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£300 Ex. VAT.</span> <span class="inc-vat">£360 Inc.
                VAT.</span></li>
    </ul>
</div>


<div class="jameshardie box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£175 Ex. VAT.</span> <span class="inc-vat">£210 Inc. VAT.</span> = <span
                class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span></li>
        <li>Orders <span class="ex-vat">£175 - £300 Ex. VAT.</span> <span class="inc-vat">£210 - £360 Inc. VAT.</span> =
            <span class="ex-vat">£50 Ex. VAT.</span> <span class="inc-vat">£60 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£300 Ex. VAT.</span> <span class="inc-vat">£360 Inc.
                VAT.</span></li>
    </ul>
</div>

<div class="knauf box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£175 Ex. VAT.</span> <span class="inc-vat">£210 Inc. VAT.</span> = <span
                class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span></li>
        <li>Orders <span class="ex-vat">£175 - £300 Ex. VAT.</span> <span class="inc-vat">£210 - £360 Inc. VAT.</span> =
            <span class="ex-vat">£50 Ex. VAT.</span> <span class="inc-vat">£60 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£300 Ex. VAT.</span> <span class="inc-vat">£360 Inc.
                VAT.</span></li>
    </ul>
</div>

<div class="siniat box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£175 Ex. VAT.</span> <span class="inc-vat">£210 Inc. VAT.</span> = <span
                class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span></li>
        <li>Orders <span class="ex-vat">£175 - £300 Ex. VAT.</span> <span class="inc-vat">£210 - £360 Inc. VAT.</span> =
            <span class="ex-vat">£50 Ex. VAT.</span> <span class="inc-vat">£60 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£300 Ex. VAT.</span> <span class="inc-vat">£360 Inc.
                VAT.</span></li>
    </ul>
</div>

<div class="antinox box hidden">
    <span class="ex-vat">Free Delivery</span> <span class="inc-vat">Free Delivery</span>
</div>

<div class="bristoltile box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="arcana box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="argenta box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="crwhitehall box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="classiccollection box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat"></li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery<br>This product is non returnable after 30 days</li>
    </ul>
</div>

<div class="contractwhites box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="elbarco box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>


<div class="geocel box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="geotiles box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="hrjohnson box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="jackon box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="karndean box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="lithofin box hidden">
    <ul>
       <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="newker box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="oldsaxceramiche box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="pamesa box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="tiles4less box hidden">
    <ul>
       <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>

<div class="thermosphere box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>


<div class="vives box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>
<div class="bal box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>
<div class="bostik box hidden">
    <ul>
        <li><span class="ex-vat">£10.40 Ex. VAT.</span> <span class="inc-vat">£12.48 Inc. VAT.</span> Per Order</li>
    </ul>
</div>
<div class="instarmac box hidden">
    <ul>
       <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>
<div class="norcros box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = <span
                class="ex-vat">£25 Ex. VAT.</span> <span class="inc-vat">£30 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>
<div class="draper box hidden">
    <ul>
        <li><span class="ex-vat">£10.60 Ex. VAT.</span> <span class="inc-vat">£12.72 Inc. VAT.</span> Per Order</li>
    </ul>
</div>
<div class="envirobuildvinyl box hidden">
    <ul>
        <li>Vinyl: <span class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span> per order</li>
        <li>Paving: Orders under <span class="ex-vat">£500 Ex. VAT.</span> <span class="inc-vat">£600 Inc. VAT.</span> =
            <span class="ex-vat">£125 Ex. VAT.</span> <span class="inc-vat">£150 Inc. VAT.</span> - Free Delivery on
            orders over <span class="ex-vat">£500 Ex. VAT.</span> <span class="inc-vat">£600 Inc. VAT.</span></li>
        <li>Accessories: <span class="ex-vat">£13.33 Ex. VAT.</span> <span class="inc-vat">£16 Inc. VAT.</span> per
            order</li>
    </ul>
</div>
<div class="grspaving box hidden">
    <ul>
        <li><span class="ex-vat">£50 Ex. VAT.</span> <span class="inc-vat">£60 Inc. VAT.</span> Per Order</li>
        <li><b>Deliveries To Scotland</b><br><span class="ex-vat">£81.25 Ex. VAT.</span> <span class="inc-vat">£97.50
                Inc. VAT.</span> Per Order</li>
    </ul>
</div>
<div class="marcrist box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£130 Ex. VAT.</span> <span class="inc-vat">£156 Inc. VAT.</span> = <span
                class="ex-vat">£6.90 Ex. VAT.</span> <span class="inc-vat">£8.28 Inc. VAT.</span> per order</li>
        <li>Orders over <span class="ex-vat">£130 Ex. VAT.</span> <span class="inc-vat">£156 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>
<div class="paveworld box hidden">
    <ul>
        <li><span class="ex-vat">£87.50 Ex. VAT.</span> <span class="inc-vat">£105 Inc. VAT.</span> per pack</li>
    </ul>
    <small>Please note: an additional delivery surcharge may apply to the following postcodes AB, DD, IV, PA,
        PO30-41.</small>
</div>
<div class="stormbuilding box hidden">
    <ul>
        <li><span class="ex-vat">£25.50 Ex. VAT.</span> <span class="inc-vat">£30.60 Inc. VAT.</span> Per Order<br><br><b>The Following Postcodes Will Incur Additional Delivery Costs. AB. DD. DG. EC. EH. FK. IV. KA. KW. ML. PA. PH. W. WC. Please Contact Us Before Placing An Order If Ordering To These Postcodes.</b></li>
    </ul>
</div>


<div class="recoilkneepads box hidden">
    <ul>
        <li><span class="ex-vat">£5 Ex. VAT.</span> <span class="inc-vat">£6 Inc. VAT.</span> per order</li>
    </ul>
</div>
<div class="rainsmart box hidden">
    <ul>
        <li><span class="ex-vat">£10.83 Ex. VAT.</span> <span class="inc-vat">£13 Inc. VAT.</span> per order</li>
    </ul>
</div>
<div class="ryno box hidden">
    <ul>
        <li>Orders under <span class="ex-vat">£475 Ex. VAT.</span> <span class="inc-vat">£570 Inc. VAT.</span> = <span
                class="ex-vat">£21.67 Ex. VAT.</span> <span class="inc-vat">£26 Inc. VAT.</span></li>
        <li>Orders over <span class="ex-vat">£475 Ex. VAT.</span> <span class="inc-vat">£570 Inc. VAT.</span> = Free
            Delivery</li>
    </ul>
</div>
<div class="stsuk box hidden">
    <ul>
        <li><span class="ex-vat">£18 Ex. VAT.</span> <span class="inc-vat">£21.60 Inc. VAT.</span> Per Order</li>
        <li>Pallets: <span class="ex-vat">£90 Ex. VAT.</span> <span class="inc-vat">£108 Inc. VAT.</span> Per Pallet
        </li>
    </ul>
</div>
<div class="beava box hidden">
    <ul>
        <li><span class="ex-vat">£18 Ex. VAT.</span> <span class="inc-vat">£21.60 Inc. VAT.</span> Per Order</li>
        <li>Pallets: <span class="ex-vat">£90 Ex. VAT.</span> <span class="inc-vat">£108 Inc. VAT.</span> Per Pallet
        </li>
    </ul>
</div>
<div class="kaskade box hidden">
    <ul>
        <li><span class="ex-vat">£18 Ex. VAT.</span> <span class="inc-vat">£21.60 Inc. VAT.</span> Per Order</li>
        <li>Pallets: <span class="ex-vat">£90 Ex. VAT.</span> <span class="inc-vat">£108 Inc. VAT.</span> Per Pallet
        </li>
    </ul>
</div>
<div class="mega box hidden">
    <ul>
        <li><span class="ex-vat">£18 Ex. VAT.</span> <span class="inc-vat">£21.60 Inc. VAT.</span> Per Order</li>
        <li>Pallets: <span class="ex-vat">£90 Ex. VAT.</span> <span class="inc-vat">£108 Inc. VAT.</span> Per Pallet
        </li>
    </ul>
</div>
<div class="profilpas box hidden">
    <ul>
        <li><span class="ex-vat">£15 Ex. VAT.</span> <span class="inc-vat">£18 Inc. VAT.</span> per order</li>
        <li>Pallets: <span class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span> per order</li>
    </ul>
</div>
<div class="nomoreply box hidden">
    <ul>
        <li><span class="ex-vat">£18 Ex. VAT.</span> <span class="inc-vat">£21.60 Inc. VAT.</span> Per Order</li>
        <li>Pallets: <span class="ex-vat">£90 Ex. VAT.</span> <span class="inc-vat">£108 Inc. VAT.</span> Per Pallet
        </li>
    </ul>
</div>


<div class="benfer box hidden">
    <ul>
        <li><span class="ex-vat">£15 Ex. VAT.</span> <span class="inc-vat">£18 Inc. VAT.</span> per order</li>
        <li>Pallets: <span class="ex-vat">£75 Ex. VAT.</span> <span class="inc-vat">£90 Inc. VAT.</span> per order</li>
    </ul>
</div>
<div class="toolbank box hidden">
    <ul>
        <li><span class="ex-vat">£7.75 Ex. VAT.</span> <span class="inc-vat">£9.30 Inc. VAT.</span> per order</li>
    </ul>
</div>
<div class="everbuild box hidden">
    <ul>
        <li><span class="ex-vat">£10.40 Ex. VAT.</span> <span class="inc-vat">£12.48 Inc. VAT.</span> Per Order</li>
    </ul>
</div>
<div class="evo-stik box hidden">
    <ul>
        <li><span class="ex-vat">£10.40 Ex. VAT.</span> <span class="inc-vat">£12.48 Inc. VAT.</span> Per Order</li>
    </ul>
</div>
<div class="faithfull box hidden">
    <ul>
        <li><span class="ex-vat">£10.40 Ex. VAT.</span> <span class="inc-vat">£12.48 Inc. VAT.</span> Per Order</li>
    </ul>
</div>
<div class="prosolve box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£130 Ex. VAT.</span> <span class="inc-vat">£156 Inc. VAT.</span> =
            <span class="ex-vat">£15.65 Ex. VAT.</span> <span class="inc-vat">£18.78 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£130 Ex. VAT.</span> <span class="inc-vat">£156 Inc.
                VAT.</span></li>
    </ul>
</div>
<div class="purdy box hidden">
    <ul>
        <li><span class="ex-vat">£10.40 Ex. VAT.</span> <span class="inc-vat">£12.48 Inc. VAT.</span> Per Order</li>
    </ul>
</div>
<div class="ramboard box hidden">Free Delivery</div>
<div class="roughneck box hidden">
    <ul>
        <li><span class="ex-vat">£10.40 Ex. VAT.</span> <span class="inc-vat">£12.48 Inc. VAT.</span> per order</li>
    </ul>
</div>
<div class="taktec box hidden">
    <ul>
        <li>Orders Under <span class="ex-vat">£160 Ex. VAT.</span> <span class="inc-vat">£192 Inc. VAT.</span> = <span
                class="ex-vat">£32 Ex. VAT.</span> <span class="inc-vat">£37.50 Inc. VAT.</span></li>
        <li>Free Delivery On Orders Over <span class="ex-vat">£160 Ex. VAT.</span> <span class="inc-vat">£192 Inc.
                VAT.</span></li>
    </ul>
</div>
<div class="vinco box hidden">
    <ul>
        <li>Free Delivery</li>
    </ul>
</div>