<div class="sub-cat-block">
  {% for block in section.blocks %}
    <a href="{{ block.settings.link | default: '#' }}" class="sub-cat-tab">
      <div class="sub-cat-media">
        {% if block.settings.image != blank %}
          <img
            src="{{ block.settings.image | img_url: 'medium' }}"
            alt="{{ block.settings.alt_text | escape }}"
            loading="lazy"
            width="200"
            height="200">
        {% endif %}
      </div>
      {% if block.settings.title != blank %}
        <h3>{{ block.settings.title }}</h3>
      {% endif %}
    </a>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Collection Subcategory Banners",
    "blocks": [
      {
        "type": "subcategory",
        "name": "Subcategory",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Subcategory image"
          }, {
            "type": "text",
            "id": "alt_text",
            "label": "Alt text"
          }, {
            "type": "text",
            "id": "title",
            "label": "Subcategory title"
          }, {
            "type": "url",
            "id": "link",
            "label": "Subcategory link"
          }
        ]
      }
    ],
    "max_blocks": 8,
    "presets": [
      {
        "name": "Collection Subcategory Banners",
        "blocks": [
          {
            "type": "subcategory"
          }, {
            "type": "subcategory"
          }, {
            "type": "subcategory"
          }, {
            "type": "subcategory"
          }
        ]
      }
    ]
  }
{% endschema %}