 {{ 'section-product-why-buy-from-us.css' | asset_url | stylesheet_tag }}
 
 <div class="wbfu-container">
        <div class="wbfu-header">
            <h2>Why Choose Us?</h2>
        </div>
        
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Factors</th>
                        <th>
                          <img src="https://cdn.shopify.com/s/files/1/0579/4807/8277/files/T4L_New_Logo_752da88f-1eba-406b-bab1-ba05142c6262.png?v=1749660176" alt="Tiles4Less" width="100%" height="100%">
                        </th>
                        <th>Other Stores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="wbfu-feature">Customer service</td>
                        <td class="our-company">Easy to reach, and eager to help</td>
                        <td class="other-stores">Difficult to contact</td>
                    </tr>
                    <tr>
                        <td class="wbfu-feature">Shipping speed</td>
                        <td class="our-company">Fast and organised</td>
                        <td class="other-stores">Unpredictable</td>
                    </tr>
                    <tr>
                        <td class="wbfu-feature">Competitive pricing</td>
                        <td class="our-company">Price match guarantee</td>
                        <td class="other-stores">What you see is what you get</td>
                    </tr>
                    <tr>
                        <td class="wbfu-feature">Loyalty program</td>
                        <td class="our-company">Points + exclusive deals</td>
                        <td class="other-stores">Basic discounts</td>
                    </tr>
                    <tr>
                        <td class="wbfu-feature">Expert advice</td>
                        <td class="our-company">Free 1-on-1 sessions</td>
                        <td class="other-stores">Self-service only</td>
                    </tr>

                    <tr>
                        <td class="wbfu-feature">Trade accounts</td>
                        <td class="our-company">Bespoke pricing, trade credit, and dedicated account manager</td>
                        <td class="other-stores">none available</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% schema %}
{
  "name": "Why Buy From Us Table",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Why Buy From Us Table"
    }
  ]
}
{% endschema %}