/* Full-width snow overlay for search bar */

.search-snow-overlay {
  position: absolute;
  top: -2px;       /* adjust to sit flush */
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 20;
}

.search-snow-overlay img{
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}
