/* Desktop */
.snow-overlay-container {
  position: absolute;
  top: -20px;
  right: -1px;
  pointer-events: none;
  z-index: 9999;
}

.snow-overlay-container img {
  width: 300px;
  height: auto;
}

/* Mobile */
@media (max-width: 768px) {

  .snow-overlay-container {
    top: -6px !important;
    right: 8px !important;
    z-index: 9999 !important;
  }

  .snow-overlay-container img {
    width: 80px !important;
  }
}
