/* -------------------------------
   MOBILE SNOW (Tiles4Less Mobile)
--------------------------------*/
@media (max-width: 768px) {

  .mobile-snow-container {
    position: absolute;
    top: -10px;     /* adjust up/down */
    right: 10px;    /* adjust left/right */
    pointer-events: none;
    z-index: 999999;
  }

  .mobile-snow-container img {
    width: 80px;
    height: auto;
  }

}
